*{
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100vh;
	font-size: 14px;
	font-family: "Roboto", sans serif;
	color: #fff;

}
body .container{
	width: 100vw;
	background-color: rgb(63,82,97);
	padding : 1rem;

}


#section h3{
	margin-bottom: 40px;
	padding-left: 50px;
}

/* Section 1 */

#aff h2{
 	position: relative;
 	left: 20px;
 	bottom: 55px;
}
#aff img{
	position: relative;
	left: 60px;
}
#aff p{
	position: relative;
 	left: 10px;
 	bottom: 15px;
}
.espace{
	letter-spacing: 5px;
}
.col-md-2 p {
	line-height: 15px;
}
.col-lg-4 span {
	color: yellow;
}
/* Section 2 */
.justify-content-center h4{
	padding-left: 60px;
}

.card:hover {
	background-color: gray;
	cursor: pointer;
}

/* Section 3 */
.col-lg-12{
	padding: 20px;
}
.col-lg-12 ul{
	list-style: none;
	line-height: 30px;

}
.col-lg-12 li a{
	text-decoration: none;
	padding-left: 25px;
	color: #fff;
}
.col-lg-12 span {
	padding-left: 15px;
}



@media screen and (max-width:575px){
	h3, h4{
		text-align: center;
	}
	ul{
		text-align: center;
	}
	
}

